.cm-s-coda {
	background: #FFFFFF;
	color: #000000;
  font-size: 12px;
  line-height: 1.3em;
}
.cm-s-coda .CodeMirror-lines {
	padding: 8px 0;
}
.cm-s-coda .CodeMirror-gutters {
	background-color: #FFFFFF;
}
.cm-s-coda div.CodeMirror-cursor {
	border-left: 3px solid #000000;
}
.cm-s-coda .CodeMirror-activeline-background {
	background: #EEF1F5;
}
.cm-s-coda .CodeMirror-selected {
	background: #A7CAFF;
}
.cm-s-coda .cm-comment {
	font-style: italic;
	color: #3C802C;
}
.cm-s-coda .cm-string {
	color: #ED7722;
}
.cm-s-coda .cm-number {
	color: #7520AF;
}
.cm-s-coda .cm-atom {
	color: #7520AF;
}
.cm-s-coda .cm-keyword {
	color: #AA2063;
}
.cm-s-coda .cm-variable {
	color: #053369;
}
.cm-s-coda .cm-def {
	color: #053369;
}
.cm-s-coda .cm-variable-2 {
	color: #881181;
}
.cm-s-coda .cm-property {
	color: #7520AF;
}
.cm-s-coda .cm-operator {
	color: #AA2063;
}
.cm-s-coda .CodeMirror-linenumber {
	color: italic;
}
